@model IEnumerable<Services.Models.OrderLocal>
@{
    ViewBag.Title = "View Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .lastTd{
        width: 14%;
    }

</style>

<script src="~/Scripts/Order/order-main.js"></script>

<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<h2>All Orders</h2>
<p>
</p>

<div class="row">
    @*commenting these out for now, these are used for multi-select*@
    @*<div class="col-md-3">
            <div class="form-group">
                <label for="order-status-input" class="label-ad-order">Status</label>
                <select class="form-control" multiple="multiple" id="order-status-input" name="order-status-input"></select>

            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="order-delivered-by-input" class="label-ad-order">Delivered By</label>
                <select class="form-control" multiple="multiple" id="order-delivered-by-input" name="order-delivered-by-input"></select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="order-res-input" class="label-ad-order">Restaurants/Store</label>
                <select class="form-control" multiple="multiple" id="order-res-input" name="order-res-input"></select>
            </div>
        </div>*@
    <div class="col-md-3">
        <div class="form-group">
            <label for="order-status-input" class="label-ad-order">Status</label>
            <select class="form-control" id="order-status-input" name="order-status-input"></select>

        @foreach (var item in Model)
        {
            var cls = "";
            if (item.Status == "Placed")
            {
                cls = "order_placed";
            }

            <tr class="@cls">
                <td>
                    <a href="/AdOrders/Details/@item.Id">@item.Id</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
               
            
                <td class="lastTd">
                    <button class="btn btn-primary"><a style="color:white" href="/AdOrders/Edit/@item.Id">Edit</a></button>
                    <button class="btn btn-default"><a style="color:black" href="/AdOrders/Details/@item.Id">Details</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="date-from-order" class="label-ad-order">Date From</label>
            <input type="text" class="form-control datePicker" id="date-from-order" name="date-from-order">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="date-to-order" class="label-ad-order">Date To</label>
            <input type="text" class="form-control datePicker" id="date-to-order" name="date-to-order">
        </div>
    </div>

</div>
<div id="all-orders-table">
    @RenderPage("~/Views/AdOrders/_OrdersTable.cshtml", Model);
</div>

@*@Scripts.Render("~/bundles/order-main")*@