@model IEnumerable<Services.Models.OrderLocal>
@{
    ViewBag.Title = "View Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .lastTd{
        width: 14%;
    }

</style>

<script src="~/Scripts/Order/order-main.js"></script>

<h2>All Orders</h2>
<p>
</p>
<table class="table" id="allOrdersTable">
    <thead>
    <th>
        @Html.DisplayNameFor(model => model.Id)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SerialNo)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DateTime)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Status)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Address)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.RestName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Amount)
    </th>
    
    

    @*<th>
        @Html.DisplayNameFor(model => model.DeliveryCost)
    </th>*@

    <th></th>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var cls = "";
            if (item.Status == "Placed")
            {
                cls = "order_placed";
            }

            <tr class="@cls">
                <td>
                    <a href="/AdOrders/Details/@item.Id">@item.Id</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
               
            
                <td class="lastTd">
                    <button class="btn btn-primary"><a style="color:white" href="/AdOrders/Edit/@item.Id">Edit</a></button>
                    <button class="btn btn-default"><a style="color:black" href="/AdOrders/Details/@item.Id">Details</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>



@*@Scripts.Render("~/bundles/order-main")*@